
#Chicken {
	height:1000px;
	background-color: #f2f5f9;
	width:90%;
	margin-left:5%;
	
	}
	
	
@media (min-width: 998px){
	.navbar-default .navbar-nav{
	 display:none;
	}
}
/* Tablet */
@media (min-width: 768px) and (max-width: 997px) {
	.navbar-default .navbar-nav{
	 display:none;
	}
}

/* Mobile*/
@media (min-width: 100px) and (max-width: 767px) {
	
}
